body {
	text-align: center;
}
.jumbotron{	
	background-color:#2E2D88;
	color:white;
}
.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.nav-tabs {
	margin-bottom: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.doggo{
	display: none;
	padding-top: 20px;
}
.carousel-image{
	width: 100%;
}
.carousel-caption {
    top: auto;
    bottom: 25%;
}
@media screen and (max-width: 400px) {
	.btn-group-lg>.btn{
		padding: 10px 10px;
		font-size: 13px;
	}
}